.wrapper .about_us .set-text-center {
   
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


code {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

.In-center {
    text-align: center;
}